<div class="card-wrapper">
  <mat-card class="card">
    <mat-card-content>
        <img src="https://image.flaticon.com/icons/svg/265/265706.svg" class="card-image"/>
        <h3>Informações recebidas!</h3>
        <p>Em até 48h daremos um retorno sobre a abertura de sua conta.</p>
        <p>Para receber nossas recomendações de investimento e começar a investir, precisamos conhecer o seu perfil de investidor.</p>
        <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p>
        <mat-divider></mat-divider>
        <p>Gostaria de responder ao Perfil do Investidor?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="openTermDialog()">NÃO</button>
      <button mat-raised-button color="primary">SIM</button>
    </mat-card-actions>
  </mat-card>
</div>
